language: go
sudo: false
go:
- tip
before_install:
- go get github.com/mattn/goveralls
script:
- "$HOME/gopath/bin/goveralls -service=travis-ci"
- make buildcmd
deploy:
  provider: releases
  skip_cleanup: true
  overwrite: true
  api_key:
    secure: XPhw38FunRJcRFgVY8ZLSIm1tD8WL+xxlsIgIRl7yGxTCUxwjv5W35RHRxObGuJD4XtN/xIaliNS7SV8e8d31B2+Ar6oZRdnLUW3rfBPBW9WkkuLXt1fW07kw3HCk3scoSqi6RFmdKMmMYb5UVGvJGP/RaXUfo+MnkUFGte725MMTAaYulRDtwOdTa5NBazDg6DAqOlKczt8uai6ZdyMxQAGPoaC2fLsQ2LDNrELkxFREQ6FU5tj6l5MaodtBUhURZg/mqGGCUzoTqGIXBGW8FkFOSYEwOyXori3b9lUf3eHtbUh9V9pveQEo/SPUKHv6pPgrxvebLlAoPUVZTrlJF/nw5/QINKnbqIZyt87mdguKEVppGkUkj7Q9vmgt4sd3stC0WNmPnGigtsfAuxRFf7Mj+PBFZXkYkM7WsjnbCb3fDMksVSm4lFA2NSajLKqk87OixaRjuyd6mn43HGd8I3iGKWj4w+Ue9eZF8rbDPWjD/w9xM1i2vrtWPivSw3VlcvasPcrcQGpoSuISB8MPHBaJVqZ14kLsAKXXOMfeymNbf/e54RIaORh/p0oE5MPbYAI7VI+kNFxklA9VYbhzKm+nEVYSNanye2ynngnwcaMlNTOJ0kbYgRGB6QJmoP5a4vLWoQXq6u4LZEiPbS9F/aUK+QtyTilsiIuHauMQVw=
  file: 
    - bin/feiertage_linux_x86_64
    - bin/feiertage_osx_x86_64
    - bin/feiertage_win32
    - bin/feiertage_win64
  on:
    repo: wlbr/feiertage
    tags: true  
after_deploy: make clean
